{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
<div class="container wrapper flex-grow-1">
<h1>Данные для добавления URL в проверку</h1>
В окне ниже выводится результат последней запущенной проверки. Если вы запустили проверку но в этом окне другие url или
же окно пустое, просто подождите, результаты появится с окончанием парсинга. Проверка одного урл занимает в среднем 10 секунд.
<h4 class="pt-4">Данные последнего парсинга списка url</h4>
    <div class="row">
        <div class="col-md-12">
            <textarea id="myText" rows="10" class="form-control">
{{ parse_urls_data|join:"" }}
                
            </textarea>
            <button onclick="myFunction()" class="btn btn-primary mt-2">Скопировать</button>
        </div>
    </div>
    <script>
        function myFunction() {
            var copyText = document.getElementById("myText");
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand("copy");
        }
    </script>
</div>
{% endblock %}