{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
<div class="container wrapper flex-grow-1">
    <h1>Собрать данные с URL для добавления в проверку</h1>
По окончанию работы парсера данные по каждому url будут выведены на <a href="{% url 'parse_urls_list' %}">этой странице</a> в следующем виде:<br><br>
<b>example.com||Тайтл сайта example.com||код ответа по http||код ответа по https||H1 на example.com</b><br><br>
Если полученные данные нужно сохранить в <a href="{% url 'url_list' %}">списке url</a> для проверки, отметьте соответствующий чекбокс внизу формы. Данный
парсер можно использовать не только для добавления сайтов в проверку, но и для:
<ul>
    <li>Получить содержимое тегов title, h1</li>
    <li>Узнать на каком протоколе доступен данный url: http или https, включен ли редирект между ними</li>
    <li>Просто узнать доступен ли данный URL</li>
</ul>
<form  class="form-group" action="{% url 'parse_urls' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Пропарсить</button>
</form>
</div>
{% endblock %}