{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
<div class="container wrapper flex-grow-1">
<h1>Результаты проверки текста на страницах</h1>
В окне ниже выводится результат последней запущенной проверки. Если вы запустили проверку но в этом окне другие url или
же окно пустое, просто подождите, результаты появится с окончанием парсинга. Проверка одного урл занимает в среднем 10 секунд.
Результат выводится в виде:<br><br>
<b>url||искомый текст||есть ли данный текст на странице||код ответа</b><br><br>
Есть ли данный текст на странице: True это есть, False это нет. Код ответа выводится для того что бы понять, является ли
данный url правильным, если код ответа отличается от 200, значит страницы не существует, и там вообще не может быть какого
либо текста. Если код 301, а сам url не ридеректит на другой домен, попробуйте поменять протокол
<h4 class="pt-4">Данные последней проверки текста</h4>
    <div class="row">
        <div class="col-md-12">
<textarea id="myText" rows="10" class="form-control">
{{ text_check_data|join:"" }}</textarea>

            <button onclick="myFunction()" class="btn btn-primary mt-2">Скопировать</button>
        </div>
    </div>
    <script>
        function myFunction() {
            var copyText = document.getElementById("myText");
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand("copy");
        }
    </script>
</div>
{% endblock %}